@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */

.blink {
  border: 4px #ff0000 solid;
  
  animation: blink 3s infinite;
}

@keyframes blink { 50% { border-color:#fff ; }  }

/* CSS Reset end */

body {
  background: #17181a;
  font-family: "Montserrat", sans-serif;
}

#logo {
  color: white;
  font-family: "Abril Fatface";
  font-size: 2rem;
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
}

.line1, .line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none ;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17181a;
  color: white;

}

.hero-desc {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.hero-img{
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fashion-span {
  color: rgb(238, 101, 242);
}

.mountain-span {
  color: rgb(86, 124, 228);
}

.hike-span {
  color: rgb(167, 110, 231);
}

.hero-desc h2 {
font-family: "Abril Fatface";
font-size: 5rem;
}

.hero-desc p {
  padding: 3rem 0rem;
  font-size: 1.3rem;
  color: rgb(240, 239, 224);
  }

  .explore {
    padding: 1rem;
    background: none;
    border: none;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    align-self: flex-start;
    cursor: pointer;
  }

.nav-bar {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.nav-links{
  font-size: 3rem;
  flex-basis: 30rem;
}
.nav-links h3{
  padding: 3rem 0rem;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}
  
.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  background: #17181a;
  left: 0;
  top: -15%;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.cursor.explore-active{
  background: white;
  transform: scale(3);
}

 .cursor.nav-active{
   background: rgb(89, 124, 228);
   transform: scale(3);
 }

 .title{
position: relative;
overflow: hidden;
 }

 .title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
 }

 .t-swipe1{
  background: rgb(86, 124, 228);
 }

 .t-swipe2{
  background: rgb(167, 110, 231);
 }

 .t-swipe3{
  background:rgb(238, 101, 242);
 }

 .cursor-text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 0.5rem;
   transform: translate(-50%, -50%)
 }

